<div class="sidebar h-screen w-44 md:w-60 back flex flex-col justify-between py-5">
  <div class="mb-20 py-3 flex items-center justify-start font-normal px-1 text- text-red-400 scale-110 text-red">
    
    <div class="w-full h-auto flex flex-col items-start text- text-red justify-start">
      <p class="mt-1 ml-2 font-medium w-full text-center  text-3xl ">LIBRARY </p>
    </div>
  </div> 



<div class="flex flex-col  mb-44 text-red ">
  <a class="mb hover:text-red-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/">
  

    <p class="mt-1 ml-2 font-medium">Home</p>
  </a>  
  
  <a class="mb hover:text-red-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/books">

      <p class="mt-1 ml-2 font-medium">Books</p>
    </a> 
    <a class="mb hover:text-red-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/student">
      <p class="mt-1 ml-2 font-medium">Students</p>
    </a>
    <a class="mb hover:text-red-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/loan">
     
      
      <p class="mt-1 ml-2 font-medium">Loan</p>
    </a>
    <a class="mb hover:text-red-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/publisher">
  
      <p class="mt-1 ml-2 font-medium">Publishers</p>
    </a>
    <a class="mb hover:text-red-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/admin">
  
      <p class="mt-1 ml-2 font-medium">Admin</p>
    </a>

    <a class="mb hover:text-red-400 hover:text-white py-3 flex items-center justify-start font-normal pl-14 text-md hover:scale-110 cursor:pointer ease-in transition duration-100" routerLink="/author">
      <p class="mt-1 ml-2 font-medium">Author</p>
    </a>
  </div>
  

    
</div>


